@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

/*Top Menu*/
.tg-menu {
  border-bottom: solid 1px #ddd;
  background: #ffffff;
}
.tg-menu a {
  line-height: 40pt;color#666;
}
.tg-menu .pure-menu-list a:hover, .tg-menu a:hover {
  background: none;
}
.tg-menu .pure-menu-list a:hover {
  color: #ff0000;
}
#brand-image {
  background-color: #666;
  color: #fff;
  margin-bottom: 3em;
  text-align: center;
}
#brand-image > h1 {
  font-weight: 100;
  margin-top: 3%;
  position: absolute;
  width: 100%;
}
.active {
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: 600;
  padding: 10px 15px;
}
.active:hover {
  background-color: #666666;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.tg-title {
  text-align: center;
  text-transform: uppercase;
}
.tg-title a {
  font-size: 18pt;
  font-weight: 900;
  line-height: 36pt;
  text-transform: capitalize;
}
#content-wrapper {
  margin-top: 55pt;
}
#content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#content i {
  background: #ff0000 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 3em;
  padding: 15px;
  width: 1em;
}
#content a, footer a, #help a {
  color: #FF0000;
  text-decoration: none;
  border-bottom: dotted 1px #666666;
}
#demo {
  margin-top: 5em;
}
#how-to {
  text-align: left;
}
#how-to > div, #help > div, #demo > div {
  width: 80%;
  margin: 0 auto;
}
#how-to h1 {
  margin-top: 3em;
}
#how-to h2 {
  font-weight: normal;
}
#help {
  margin-top: 3em;
  margin-bottom: 3em;
}
.tweet-icon {
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 10px 15px;
  background-color: #129FEA;
}
footer {
  border-top: solid 1px #ddd;
  text-align: center;
}
footer a {
  color: #666;
}
#content > div {
  margin-bottom: 3em;
}
ul#browser-support, ul#mobile-menu-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#browser-support > li {
  display: inline-block;
}
ul#browser-support > li > i {
  background-color: #666;
  font-size: 1.3em;
  margin-bottom: 5px;
}
#tg-slider-wrapper {
  margin-bottom: 3em;
}
/*Responsive class*/
.visible-mobile, #mobile-menu-item, #mobile-menu {
  display: none;
}
/*Mobile Menu*/
@media screen and (max-width: 35.5em) {
  #mobile-menu {
    display: block;
    text-align: center;
    padding-bottom: 20pt;
    position: relative;
    top: 65pt;
  }
  #mobile-menu a {
    color: #666;
  }
}
